ol
    margin 0
    padding 0
    list-style-type none
    counter-reset level1

    & > li
        display table
        margin-bottom 0.6em
        counter-increment level1

        &:before
            display table-cell
            padding-right 0.6em
            content counter(level1) '. '

        & > ol
            counter-reset level2

            & > li
                counter-increment level2

                &:before
                    content counter(level1) '.' counter(level2) '. '

                & > ol
                    counter-reset level3

                    & > li
                        counter-increment level3

                        &:before
                            content counter(level3, lower-alpha) ') '
