.gray-box
    font-size 14px
    background #f6f6f6
    border 1px solid #e5e5e5
    border-radius 4px

    a&
        color #0680fc
        font-weight bold

        &:hover
            color #ffffff
            text-decoration none
            background #0680fc
            border 1px solid #0680fc
