.block
    padding-top 1rem
    padding-bottom 1rem
    background-repeat no-repeat

    h2
        margin-bottom 18px;
        font-size 26px
        font-weight bold
        line-height 40px

    h3
        opacity 0.6
        color #252525
        font-size 12px
        font-weight bold
        line-height 20px
        text-transform uppercase

    h4
        margin-top 30px
        font-size 16px
        font-weight bold
        line-height 30px

    p
        font-size 16px
        line-height 30px

    ul
        padding-left 20px
        line-height 30px

        &.bullet
            list-style-image url('/images/bullet.svg')

        &.arrow
            padding-left 0
            list-style none

            li:before
                content '►'
                padding-right 8px
                color #0680FC
                font-size 0.8em

        li
            margin-bottom 10px

    table
        thead
            display none

        td
            vertical-align top
            padding 10px

            &:first-of-type
                padding-left 0
                color #7B7B7B

            &:last-of-type
                padding-right 0

    .arrow-left
        &:hover
            text-decoration none

        &:before
            content '◄'
            padding-right 0.5em

    .box-shadow
        box-shadow 0 7px 20px 0 rgba(0, 0, 0, 0.15)
