#kypsis
    font-size 14px
    background #ffffff
    box-shadow 0px 0px 14px 0px rgba(0, 0, 0, 0.5)

    p
        margin 0

    .btn
        font-size 14px
        background #0680FC
        border-radius 2px
