footer
    background-color #F7F7F7
    border-top 1px solid #E5E5E5

    h2
        opacity 0.6
        color #252525
        font-size 12px
        font-weight bold
        line-height 30px
        text-transform uppercase

    p
        font-size 14px
        line-height 22px
