#front-page
    margin-top 72px

    h2
        opacity 0.6
        color #252525
        font-size 12px
        font-weight bold
        line-height 20px
        text-transform uppercase

    h3
        font-size 26px
        font-weight bold
        line-height 40px

        strong
            display inline-block
            line-height 1.1em
            font-weight bold
            text-decoration none
            border-bottom 6px solid #FEDC32
