#help-content
    input#search
        background #ffffff url(/images/help/icons/search.svg) no-repeat scroll 6px 6px
        padding-left 2.4em

    .gray-box
        font-size 14px
        background #f6f6f6
        border 1px solid #e5e5e5
        border-radius 4px

    a.gray-box
        color #0680fc
        font-weight bold

        &:hover
            color #ffffff
            text-decoration none
            background #0680fc
            border 1px solid #0680fc

        &.feedback
            color #2a2a2a
            font-weight bold
            background #f5f5f5

    video
        background #6FB6FF
        border 1px solid #e5e5e5

    #feedback-modal
        .modal-content
            border-radius 0px

    .feedback-btn
        color #ffffff
        font-weight bold
        text-align center
        background #0680fc
        border 1px solid #0680fc

        &:hover
            color #ffffff
            text-decoration none

    .feedback-blue-box
        background #d5eaff
        border 1px solid #badcff
