body
    color #252525
    font-family 'Noto Sans', sans-serif

a
    color #0680FC

.page-block
    background-repeat no-repeat
    background-size cover
    background-position center

    p
        font-size 16px
        line-height 30px

    .btn-primary
        padding 0 21px
        line-height 40px
        font-weight bold
        border none
        border-radius 20px
        background linear-gradient(180deg, #0EB7FE 0%, #0680FC 100%)
        box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.1)

.arrow-left
    &:hover
        text-decoration none

    &:before
        content '◄'
        padding-right 0.5em
