body
    color #2A2A2A
    font-family 'Noto Sans', sans-serif

h1
    color #252525
    font-size 46px
    font-weight bold

h2
    color #2A2A2A
    font-size 16px
    font-weight bold
    line-height 24px

p
    font-size 16px
    line-height 30px

a
    color #0680FC
    outline none

ul.list-arrow
    li
        &:before
            content ''
            margin-right 0.5em
            display inline-block
            height .6em
            width 1em
            line-height 24px
            background-image url(/images/help/icons/arrow.svg)
            background-size contain
            background-repeat no-repeat

.content
    margin-top 72px
    background-color #FFFFFF

.btn-primary
    padding 11px 21px
    line-height 18px
    font-weight bold
    border none
    border-radius 20px
    color #FFFFFF
    background linear-gradient(180deg, #0EB7FE 0%, #0680FC 100%)
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.1)
    white-space normal

    &:hover
        color #FFFFFF
        box-shadow 0 2px 10px 0 rgba(6, 128, 252, 0.6)

    &:active
        color #FFFFFF
        box-shadow inset 0 0 8px 0 rgba(0, 0, 0, 0.13)

.btn-donate
    padding 11px 21px
    line-height 18px
    font-weight bold
    border none
    border-radius 20px
    color #8E4765

    background linear-gradient(180deg, #ECD5D6 0%, #E598B8 100%)
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.1)
    white-space normal

    &:hover
        color #8E4765

        box-shadow 0 2px 10px 0 rgba(229, 152, 184, 0.6)

    &:active
        color #8E4765

        box-shadow inset 0 0 8px 0 rgba(0, 0, 0, 0.13)

@media only screen and (max-width: 576px)
    h1
        font-size 32px
        line-height 40px

    .content
        margin-top 43px
