active-nav(color)
    &.active
        border-bottom 4px solid color

        a
            color #7B7B7B

    a
        &:hover
            color color

            svg
                g
                    g
                        fill color


nav
    box-shadow 0px 0px 20px 0px rgba(0, 0, 0, 0.2)

    li
        a
            color #252525
            font-weight 100

            &:focus
                outline  none

        active-nav(#0680FC)

        &.product
            active-nav(#FFC600)

        &.vision
            active-nav(#42C8C6)

        &.community
            active-nav(#D07FB4)

        &.news
            active-nav(#94D182)

    .btn-link
        color #0680FC

.navbar-toggler
    font-size 14px
    font-weight bold

    &:after
        content '▲'
        padding-left 0.6em
        font-size 12px
        // line-height 14px

    &.collapsed
        &:after
            content '▼'
            padding-left 0.6em
            font-size 12px
            // line-height 14px


@media only screen and (max-width: 321px)
    .navbar-brand
        img
            margin-top 2px
            margin-bottom 2px
            width 160px
            height 30px

@media all and (min-width: 992px)
    .navbar
        .nav-item
            .dropdown-menu
                margin-top 0
                border-top-color #E5E5E5
                border-top-right-radius 0
                border-top-left-radius 0
                display none
                margin-top 0

            &:hover
                .dropdown-menu
                    display block
