nav
    box-shadow 0px 0px 20px 0px rgba(0, 0, 0, 0.2)

    li
        &.active
            border-bottom 4px solid #F5762D

            a
                color #7B7B7B

        a
            color #252525
            font-weight 100

            &:hover
                color #F5762D

                svg
                    g
                        g
                            fill #F5762D


    .btn-link
        color #0680FC
