.news-block
    h4
        font-size 20px
        line-height 30px

    .news-block-img
        height 250px
        background-size cover
        background-position center
        background-color #f7f7f7


.news-author
    font-size 20px
    color #252525
