.news-block
    &:hover
        box-shadow 0px 7px 20px 0px rgba(0, 0, 0, 0.3)

    h4
        font-size 20px
        line-height 30px

    a
        color inherit

        &:hover
            text-decoration none

    .news-block-img
        height 250px
        background-size cover
        background-position center
        background-color #f7f7f7

#news
    h2
        margin-top 3rem

    img
        margin-top 2rem
        margin-bottom 2rem

    .text-muted
        margin-bottom 1.5rem
        text-align center
        font-size 13px

#three-dots
    margin-top 1rem
    margin-bottom 2rem

    &::after
        content '...'
        font-size 50px
        display block
        text-align center
        letter-spacing 5px

.news-author
    font-size 20px
    color #252525
