.page-content
    margin-top 72px

    .page-block
        h2
            opacity 0.6
            color #252525
            font-size 12px
            font-weight bold
            line-height 20px
            text-transform uppercase

        h3
            font-size 26px
            font-weight bold
            line-height 40px

            strong
                display inline-block
                line-height 1.1em
                font-weight bold
                text-decoration none
                border-bottom 6px solid #FEDC32

        h4
            margin-top 30px
            font-size 16px
            font-weight bold
            line-height 30px

        ul
            line-height 30px

            &.bullet
                list-style-image url('/assets/images/bullet.svg')

            &.arrow
                list-style none

                li:before
                    content '►'
                    padding-right 8px
                    color #0680FC
                    font-size 0.8em

            li
                margin-bottom 10px
