#team
#contact
    thead
        display none

    td
        &:first-of-type
            padding-left 0
            color #7B7B7B
            white-space nowrap

        &:last-of-type
            padding-right 0
