extends /_templates/main.pug


block script
    script.
        $(function () {
            $('.open-career').click(function (e) {
                $('#careers').addClass('d-none')
                $($(this).attr('href')).removeClass('d-none')

                location.hash = $(this).attr('href')

                $(window).scrollTop(0)
                e.preventDefault()
            })

            $('.close-career').click(function (e) {
                $('.career').addClass('d-none')
                $('#careers').removeClass('d-none')

                location.hash = ''

                $(window).scrollTop(0)
                e.preventDefault()
            })

            if (location.hash && location.hash !== '#') {
                $('a[href="' + location.hash + '"]').click()
            }
        })


block content
    .page-content.container-fluid
        .row
            each block in self.blocks
                .page-block.col-12.col-sm-6(id=block.id, class=block.class, style=block.style)
                    if block.text
                        .row.h-100.py-5
                            .col-12.col-sm-8.offset-sm-2.align-self-center
                                +markdown(block.text)
