extends /_templates/blocks.pug


append stylus
    :stylus
        #video-popup
            .modal-content
                background #000000
                border none
                border-radius 0


append content
    #video-popup.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-body.embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')


append script
    script.
        $(function () {
            $('#start-img .block-text').addClass('text-center')

            $('#awareness').removeClass('col-sm-6')
            $('#awareness .block-text').removeClass('col-sm-8')
            $('#awareness .block-text').removeClass('offset-sm-2')
            $('#awareness .block-text').addClass('col-sm-4')
            $('#awareness .block-text').addClass('p-5')
            $('#awareness .block-text').addClass('bg-white')
            $('#awareness .block-text').addClass('text-center')
            $('#awareness .block-text').addClass('offset-sm-1')
            $('#awareness .block-text').addClass('box-shadow')

            $('a[data-target="#video-popup"]').click(function () {
                $('#video-popup iframe').attr('src', $(this).attr('href'))
            })

            $('#video-popup').on('hide.bs.modal', function () {
                $('#video-popup iframe').attr('src', '')
            })
        })
