extends /_templates/main.pug


block body
    .container
        .m-5.text-center
            a.navbar-brand(href=self.rootUrl)
                img(src='/assets/images/citizenos-logo.png', height=50, width=270, alt='Citizen OS logo')
            h1.mt-3
                strong= self.title

        table.table.table-striped.mb-5
            thead
                tr
                    th Term
                    th Description
            tbody
                each g in self.glossary
                    tr
                        th.text-nowrap= g.term
                        td
                            +markdown(g.description)
