#footer.container-fluid
        .row.py-5
            .col-12.col-sm-5.offset-sm-1
                .row
                    each nav in self.footer.navigation
                        .col-12.col-sm-4
                            +markdown(nav)

            .col-12.col-sm-5.col-md-4.offset-sm-0.offset-md-1.mt-5.mt-sm-0.text-sm-right
                a.d-block.pb-2(href=self.root)
                    img(src='/assets/images/citizenos-logo.png', height=37, width=201, alt='Citizen OS logo')
                p= self.footer.text
