block vars


mixin markdown(text)
    | !{ self.md(text) }


doctype html
html(lang=self.locale)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:url', content='https://citizenos.com' + self.path)
        meta(property='og:title', content=self.title ? self.title + ' · ' + self.siteTitle : self.siteTitle)

        title= self.title && self.title !== self.siteTitle ? self.title + ' · ' + self.siteTitle : self.siteTitle

        link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
        link(href='/style.css', rel='stylesheet')

        block style

        //- script(async, src='https://www.googletagmanager.com/gtag/js?id=XX-000000-00')
        //- script.
        //-     window.dataLayer = window.dataLayer || [];
        //-     function gtag(){dataLayer.push(arguments);}
        //-     gtag('js', new Date());
        //-     gtag('config', 'XX-000000-00');
    body

        script(src='/assets/js/jquery-3.3.1.min.js')
        script(src='/script.js')

        block script
