extends /_templates/main.pug


block content
    - var date = (new Date(self.date)).toLocaleDateString('en-GB', { year: 'numeric', month: 'short', day: 'numeric' })

    .container.py-5
        .row
            .col-12
                h1.text-center.my-5= self.title
                p.news-author.text-center.my-5.text-muted= date + ' - ' + self.author
        .row
            article.col-12.col-sm-8.offset-sm-2
                +markdown(self.text)


block script
    script.
        $(function () {
            $('article img').addClass('img-fluid')
        })
