extends /_templates/blocks.pug


append stylus
    :stylus
        .blocks
            .block
                h2
                    strong
                        border-bottom 6px solid #FFFFFF


append script
    script.
        $(function () {
            $('#forward-img .block-text').removeClass('col-sm-8')
            $('#forward-img .block-text').addClass('col-sm-10')

            $('#research-video-img .block-text').removeClass('col-sm-8')
            $('#research-video-img .block-text').addClass('col-sm-10')
            $('#research-video-img .block-text').removeClass('offset-sm-2')
        })
