extends /v2/_templates/main.pug

block content
    +sections(self.sections)

    #sectionButtonsExample.hidden
        .mt-8.flex.flex-wrap.justify-center.gap-2
            +button-primary(self.sections.sectionButtonsExample.buttonPrimary)
            +button-secondary(self.sections.sectionButtonsExample.buttonSecondary)
            +button-primary(self.sections.sectionButtonsExample.buttonIcon)
            +button-grey(self.sections.sectionButtonsExample.buttonGrey)
            +button-purple(self.sections.sectionButtonsExample.buttonPurple)
