extends /v2/_templates/sections.pug

append content
    #sectionButtonsExample.hidden
        .mt-8.flex.flex-wrap.justify-center.gap-2
            +button(self.sections.sectionButtonsExample.buttonPrimary)
            +button(self.sections.sectionButtonsExample.buttonSecondary)
            +button(self.sections.sectionButtonsExample.buttonIcon)
            +button(self.sections.sectionButtonsExample.buttonGrey)
            +button(self.sections.sectionButtonsExample.buttonPurple)
