extends /v2/_templates/main.pug

block content
    //- HEADER
    +header(self.headerExample)(class='bg-blue-50')
    +section(class='bg-blue-50')
        +markdown(self.headerCode)

    //- SECTION
    +section(self.sectionExample)(class='bg-yellow-10')
        +markdown(self.sectionCode)

    //- BUTTON
    +section({ title: 'Button' })
        .mb-4.flex.flex-wrap.justify-center.gap-2
            +button-primary(self.buttonPrimary)
            +button-secondary(self.buttonSecondary)
            +button-primary(self.buttonIcon)
            +button-grey(self.buttonGrey)
            +button-purple(self.buttonPurple)
        +markdown(self.buttonCode)

    //- BANNER
    +banner(self.bannerExample)(class='bg-blue-50')
    +section(class='bg-blue-50')
        +markdown(self.bannerCode)
