ol
    list-style-type upper-roman
    padding-left 1rem

    p
        margin-bottom 0

    ol
        list-style-type decimal
        margin-bottom 1rem
        padding-left 1.5em

        ol
            margin-bottom 0
            padding-left 1.5em
            list-style-type lower-alpha
