extends /_templates/blocks.pug


append stylus
    :stylus
        #awareness
            .block-text
                box-shadow 0 7px 20px 0 rgba(0, 0, 0, 0.15)

        .blocks
            .block
                h2
                    strong
                        border-bottom 6px solid #FFFFFF


append script
    script.
        $(function () {
            $('#start .block-text').removeClass('col-sm-8')
            $('#start .block-text').addClass('col-sm-10')
            $('#start .block-text').removeClass('offset-sm-2')

            $('#awareness').removeClass('col-sm-6')
            $('#awareness .block-text').removeClass('col-sm-8')
            $('#awareness .block-text').removeClass('offset-sm-2')
            $('#awareness .block-text').addClass('col-sm-5')
            $('#awareness .block-text').addClass('p-5')
            $('#awareness .block-text').addClass('bg-white')
            $('#awareness .block-text').addClass('text-center')
            $('#awareness .block-text').addClass('offset-sm-1')
        })
