extends /_templates/main.pug


block content
    .container-fluid
        .row
            #img.block.d-none.d-sm-block.col-12.col-sm-4
            .block.col-12.col-sm-7.offset-sm-1.py-5
                .block-text
                    h2.mb-5= self.title

                    +markdown(self.text)

                    if self.button1st
                        a.btn.btn-primary.my-2(href=self.button1st.url, target=self.button1st.target)= self.button1st.title

                    if self.button2nd
                        .mt-5

                            a.my-2(href=self.button2nd.url, target=self.button2nd.target)= '￩ ' + self.button2nd.title
