#options
    h4
        font-size 26px

    span
        font-size 20px
        font-weight bold
        color #42C8C6

#flexibleformat-lastbox
    background #f7f7f7


#stats
    h4
        color #42C8C6
        font-size 26px
        font-weight bold

        span
            margin-top 10px
            font-size 46px

.carousel-indicators
    bottom -1rem

    li
        display inline-block
        width 10px
        height 10px
        margin 10px
        text-indent 0
        cursor pointer
        border none
        border-radius 50%
        background-color #0680FC
        opacity 0.4

        &.active
            width 10px
            height 10px
            margin 10px
            background-color #0680FC
            opacity 1

.carousel-control-next-icon:after
    content '→'
    font-size 30px
    color #0680FC

.carousel-control-prev-icon:after
    content '←'
    font-size 30px
    color #0680FC
