#start
    .btn-primary
        padding 11px 30px
        color #D07FB4
        background #FFFFFF

        &:hover
            color #D07FB4
            box-shadow 0 2px 10px 0 rgba(255, 255, 255, 0.6)

#founding
    .deadline
        padding 11px 30px
        line-height 18px
        border-radius 20px
        color #252525
        background #FFC600

    .btn-primary
        margin-top 3rem !important
        padding 1rem 60px
        border-radius 25px

.hacktivist-block
    height 160px
    width 160px
    line-height 160px
    border-radius 50%

.hacktivist-sign
    font-size 60px
    line-height 160px
