extends /_templates/main.pug


block content
    .container-fluid
        .row
            #img.block.d-none.d-sm-block.col-12.col-sm-4
            .block.col-12.col-sm-7.offset-sm-1.py-5
                .block-text
                    +markdown(self.text)

                    if self.vacancies
                        ul.bullet
                            each v in self.vacancies
                                li.my-2
                                    a.my-2(href=v.url)= v.title
