@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply m-0 p-0 text-black;
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    @apply mb-4 last_mb-0 font-semibold text-xl md_text-4xl
}

p {
    @apply mb-4 last_mb-0
}

pre {
    @apply mb-4 text-xs overflow-hidden
}

footer .footer-border {
    background: linear-gradient(89.99deg, #FCA997 0.02%, #EABFBC 34.65%, #FFEFD6 66.94%, #F9E1A7 100%);
}

.button {
    box-shadow: 0px 16px 40px rgba(0, 0, 0, .04);
}

#language-menu {
    filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, .05))
}

#language-menu:before {
    content: '';
    position: absolute;
    left: 2.7rem;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #FFFFFF transparent;
    z-index: 9999;
}

.accordion-image-lg,
.accordion-card .accordion-image,
.accordion-card .accordion-body {
    @apply hidden
}

.accordion-card .accordion-title {
    @apply cursor-pointer
}

.accordion-card.yellow h3,
.accordion-card.yellow a {
    @apply text-yellow-700
}

.accordion-card.blue h3,
.accordion-card.blue a {
    @apply text-blue-700
}

.accordion-card.green h3,
.accordion-card.green a {
    @apply text-green-500
}

.accordion-card.purple h3,
.accordion-card.purple a {
    @apply text-purple-500
}

.accordion-card.active {
    @apply border-t-transparent rounded-2xl
}

.section.grey,
.accordion-image-lg.active.yellow,
.accordion-card.active.yellow {
    @apply bg-grey-300
}

.section.yellow,
.accordion-image-lg.active.yellow,
.accordion-card.active.yellow {
    @apply bg-yellow-10
}

.section.blue,
.accordion-image-lg.active.blue,
.accordion-card.active.blue {
    @apply bg-blue-50
}

.section.green,
.accordion-image-lg.active.green,
.accordion-card.active.green {
    @apply bg-green-50
}

.section.purple,
.accordion-image-lg.active.purple,
.accordion-card.active.purple {
    @apply bg-purple-50
}

.accordion-card.active .accordion-title {
    @apply cursor-auto
}

.accordion-card.active .accordion-image {
    @apply block lg_hidden
}

.accordion-image-lg.active,
.accordion-card.active .accordion-body {
    @apply block
}
