.request-btn
    color #ffffff
    font-weight bold
    text-align center
    background #0680fc
    border 1px solid #0680fc

    &:hover
        color #ffffff
        text-decoration none


.request-blue-box
    background #d5eaff
    border 1px solid #badcff
